<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/dash-admin.css">
</head>
<body>
    
    <h2>Add Picture to the gallery</h2>
    <form action="" method="post" enctype="multipart/form-data">

        <label for="dish_description">Description:</label><br>
        <textarea id="dish_description" name="dish_description"></textarea><br><br>


        <label for="dish_price">Image:</label><br>
        <input type="file" id="dish_image" name="dish_image"><br><br>

    </form>

</body>
</html>